@model IEnumerable<Product>

<h2 style="color: darkblue; display:inline-block; margin-right: 70%">Product List</h2>
<a class="btn btn-primary" href="@Url.Action("Create")">Create new Product</a>
<p style="color: green">@TempData["Message"]</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="width: 300px;">Title</th>
            <th style="width: 400px;">Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Title</td>
                <td>@product.Description</td>
                <td>$@product.Price</td>
                <td>#@product.Category</td>
                <td>@product.Quantity units</td>
                <td>
                    <a class="btn btn-outline-primary" href="@Url.Action("Details", new {id=product.ID})">View</a>
                    <a class="btn btn-outline-primary" href="@Url.Action("Edit", new {id=product.ID})">Edit</a>
                    <a class="btn btn-outline-primary" href="@Url.Action("Delete", new {id=product.ID})">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="@Url.Action("Create")">Create new Product</a>
